{{ form_start(form , {attr: {'novalidate': 'novalidate'}}) }}
    <div class="row align-items-center">
        <div class="col-md-2">
            <label>Genre</label>
        </div>
        <div class="col-md-2">
            {{ form_row(form.) }}
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-md-2">

        </div>
        <div class="col-md-2">

        </div>
    </div>

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
