{% extends 'baseBack.html.twig' %}

{% block titre %} User index {% endblock %}

{% block body %}
    <h1>User index</h1>
    <div class="d-flex align-items-center"><input class="form-control" type="search" id="search" placeholder="Search by Nom">

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Password</th>
                <th>Gender</th>
                <th>Role</th>
                <th>Phone</th>
                <th>Birthday</th>
                <th>Acces</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="all">
        {% include 'user/userajax.html.twig' %}
        </tbody>
        <tbody align="left" border="2" id="search">
        </tbody>
    </table>
         <div>
            {{ knp_pagination_render(users) }}
         </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            var currentRequest = null;
            $("#search").keyup(function(e){

                var value = $(this).val();
                if(currentRequest != null) {
                    currentRequest.abort();
                }

                currentRequest = $.ajax({

                    url : "{{ path('searchuserrr') }}",
                    type : 'GET',
                    data: {
                        'searchValue' : value
                    },

                    success : function(retour)
                    {
                        $('#all').html(retour);

                    },
                });
                return false;
            });
        });
    </script>
    </script>
    <a href="{{ path('app_user_new') }}">Create new</a>


    <a class="btn btn-success"  href="{{path('imprimer') }}"> <i class="fa fa-download"></i> Imprimer </a>
{% endblock %}
