<div class="card" style="width: 95%;">
    <div class="card-body">
        <div style="margin: 0.1%;">
            <p style="font-size: medium">{{ artiste.getNomArtiste }}</p>
            <p style="font-size: smaller">{{ artiste.getTypeDeMusique }}</p>
        </div>
    </div>
</div>