<div class="card" style="width: 95%;">
    <div class="card-body">
        <div style="margin: 0.1%">
            <div style="display: inline-block">
                <p style="font-size: medium">{{ restaurant.getNom() }}</p>
                <p style="font-size: smaller">{{ restaurant.getAdresse() }}</p>
            </div>
        </div>
    </div>
</div>