{% extends 'baseFront.html.twig' %}

{% block body %}
   <section class="section element-animate fadeInUp element-animated">
      <div class="clearfix mb-5 pb-5">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12 text-center heading-wrap">
                  <h2>Pie Chart</h2>
                  <span class="back-text">Pie Chart</span>
               </div>
            </div>
         </div>
      </div>

      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <a href="{{ path('app_evenement_browser_index') }}"><-- Retour</a>
               <div id="div_piechart" style="padding-left: 18%; padding-top: 3%">
               </div>
            </div>
         </div>
      </div>
   </section>

   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
      {{ gc_draw(piechart, 'div_piechart') }}
   </script>

{% endblock %}