{% extends 'baseBack.html.twig' %}

{% block body %}
    <h1>Créer un nouveau Artiste</h1>

    {{ include('artiste/_form.html.twig') }}

    <a href="{{ path('app_artiste_index') }}">Retour à la liste</a>
{% endblock %}
