{% extends 'baseBack.html.twig' %}


{% block body %}
    <title>New Evenement</title>
    <h1>Créer un nouveau Evenement</h1>

    {{ include('evenement/_form.html.twig') }}

    <a href="{{ path('app_evenement_index') }}">Retour à la liste</a>
{% endblock %}
