{% extends 'baseFront.html.twig' %}



{% block body %}

    <body>



    <section class="home-slider-loop-false  inner-page owl-carousel">
        <div class="slider-item" style="background-image: url('{{ asset('front/img/hero_2.jpg') }}');">>

            <div class="container">
                <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-md-8 text-center col-sm-12 element-animate">
                        <h1>ESPACE FORMATIONS</h1>

                    </div>
                </div>
            </div>

        </div>

    </section>


    <section class="section element-animate">
        <div class="clearfix mb-5 pb-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center heading-wrap">
                        <h2>TELCHARGER VOTRE COUR</h2>
                        <span class="back-text">ESPACE FORMATION</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <form action="#" method="post">


                        <div class="row">
                            <div class="col-md-12 form-group">

                            </div>
                        </div>
                        <div class="row">

                        </div>


                        <div class="row">
                            <div class="col-md-6 form-group">
                                <a href="/formations/Inscription/Download" class="btn btn-primary btn-sm">Télecharger votre cour</a></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <a href="/formations/SendMail" class="btn btn-primary btn-sm">EvoyerMail</a></p>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>

    </section>



    </body>


{% endblock %}