<div class="card">
    <div class="card-body">
        <span align="right">
            <p>Date: {{ evenement.getDateEvenement ? evenement.getDateEvenement|date('Y-m-d') : '' }}</p>
        </span>
        <span align="left">
            <h4 class="card-title">{{ evenement.getNomEvenement }}</h4>
        </span>
        <div class="gridCarte">
            <label style="font-weight: bold;">Restaurant:</label>
            {#            <div class="vl"></div>#}
            <label style="font-weight: bold;">Artiste:</label>
            {% include 'evenement_browser/_restaurantCarte.html.twig' with { restaurant : evenement.getRestaurant() } only %}
            {#            <div class="vl"></div>#}
            {% include 'evenement_browser/_artisteCarte.html.twig' with { artiste : evenement.getArtiste() } only %}
        </div>
    </div>
</div>