{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdInscription</th>
                <td>{{ inscription.idInscription }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_inscription_index') }}">back to list</a>

    <a href="{{ path('app_inscription_edit', {'idInscription': inscription.idInscription}) }}">edit</a>

    {{ include('inscription/_delete_form.html.twig') }}
{% endblock %}
